<div class="col-md-offset-2 col-md-7">
    <div class="alert alert-danger text-center" ng-if="error">{{error}}</div>
    <div class="alert alert-success text-center" ng-if="success">Пароль успешно изменен. Можете пользоваться</div>
</div>
<div class="col-md-offset-3 col-md-5">
    <div class="form-group">
            <input type="password" ng-model="newpassword" class="form-control" id="newpass" placeholder="Новый пароль">
    </div>
    <div class="form-group" ng-class="{'has-error':newpasswordrepeat!=newpassword}">
            <input type="password" ng-model="newpasswordrepeat" class="form-control" id="newpassrepeat" placeholder="Подтвердите новый пароль">
    </div>
    <div class="form-group">
        <button ng-click="changePassword()" ng-disabled="working" class="btn btn-success" ng-if="newpassword.length && newpasswordrepeat.length && newpasswordrepeat==newpassword">
            Сохранить пароль
        </button>
    </div>
</div>