<div class="falcon-settings" xmlns="http://www.w3.org/1999/html">
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="working || !modified" ng-click="save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Сохранить
        </button>
        <button class="btn btn-danger" ng-disabled="working || !modified" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Отмена
        </button>
    </div>

    <div class="row">
        <div class="col-md-6 params-col">
                <!--<div class="form-group">-->
                    <!--<label>Слоган</label>-->
                    <!--<input class="form-control" ng-change="setModified()"  ng-model="data.settings['slogan']" ui-keydown="{'enter':'save()'}"/>-->
                <!--</div>-->
            <div class="form-group">
                <label>Коротко о нас</label>
                <textarea class="form-control" ng-change="setModified()"  ng-model="data.settings['about']"></textarea>
            </div>


            <div class="form-group">
                <label>Слоган</label>
                <textarea class="form-control" ng-change="setModified()"  ng-model="data.settings['slogan']"></textarea>
            </div>

            <div class="form-group">
                <label>Телефоны</label>
                <textarea class="form-control" ng-change="setModified()"  ng-model="data.settings['phone']"></textarea>
            </div>
            <div class="form-group">
                <label>Заголовок для "Портфолио"</label>
                <textarea class="form-control" ng-change="setModified()"  ng-model="data.settings['portfoliotitle']"></textarea>
            </div>

                <div class="form-group">
                    <label>Мета - описание</label>
                    <textarea class="form-control" ng-change="setModified()"  ng-model="data.settings['metadescription']"></textarea>
                </div>
            <div class="form-group">
                <label>Мета - ключевые слова(через запятую)</label>
                <input class="form-control" ng-change="setModified()"  ng-model="data.settings['metatags']" ui-keydown="{'enter':'save()'}"/>
            </div>
            <div class="form-group">
                <label>Блок внешней рекламы(html код)</label>
                <textarea class="form-control" ng-change="setModified()" ng-model="data.settings['ads']">
                </textarea>
            </div>
        </div>

    </div>
</div>