<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Falcon Design</title>
	<meta name="description" content="">
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	<link href="libs/bootstrap/less/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/styles/img/fav.png" rel="shortcut icon" />
    <style>
        html {
            overflow-y: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }
    </style>
</head>
<body class="falcon">

<div ng-hide="applicationReady" class="mainloader" style="position:fixed;top: 25%;width:100%;font:10pt/1.3em Arial,Helvetica,FreeSans,sans-serif;">
	<div style="background-color:white;padding:10px;margin:0 auto;width:300px;text-align:center;">
        <img src="styles/img/loading.png" style="width: 100%">
		<!--<div><strong>&hellip;Загрузка&hellip;</strong></div>-->
	</div>
</div>

<div ng-if="applicationReady">
	<div class="falcon-front"></div>
</div>

<script data-main="front-boot.js" src="libs/require.js"></script>
<!--GOOGLE ANALYTICS-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47703021-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>