<div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">
    <div class="navbar-header">
        <img class="logo" src="/styles/img/logo.png"/>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in menuItems|filter:{right:false}" ng-class="{'active':isActive(item.url)}">
                <a ng-href="{{item.url}}">{{item.label}}</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search" ng-if="isArticles()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="appdata.articleFilter" placeholder="...Поиск...">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="item in menuItems|filter:{right:true}" ng-class="{'active':isActive(item.url)}">
                <a ng-href="{{item.url}}">{{item.label}}</a>
            </li>
        </ul>
    </div>
    </div>
</div>

