.img-gallery h3{
    color: #737377;
    font-size: 16px;
}
.image_carousel {
    position: relative;
    padding: 0px 30px 0px 30px;
    margin-bottom: 40px;
}
.image_carousel .prev{
    position: absolute;
    left:0px;
    text-align: left;
    background-image: url("/styles/img/arrow_left.png");
}

.image_carousel .prev:hover{
    position: absolute;
    left:0px;
    text-align: left;
    background-image: url("/styles/img/arrow_left_hover.png");
}

.image_carousel .next{
    position: absolute;
    text-align: right;
    right:0px;
    background-image: url("/styles/img/arrow_right.png");
}

.image_carousel .next:hover{
    position: absolute;
    text-align: right;
    right:0px;
    background-image: url("/styles/img/arrow_right_hover.png");
}
.image_carousel img {
    max-height: 120px;
}
.image_carousel a.image {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
    height: 120px;
}
.clearfix {
    float: none;
    clear: both;
}

.btn-control {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    line-height: 30px;
    color: #222222;
    text-decoration: none !important;
    border: 3px solid transparent;
    filter: alpha(opacity=50);
}