<h3>{{name}}</h3>
<div class="image_carousel">
	<div class="carousel">
		<a class="image" ng-repeat="(i,image) in images" rel="fancybox-thumb" title="{{image.description}}" ng-href="{{image.url}}">
			<img ng-src="{{image.url}}" alt="{{image.description}}" />
		</a>
	</div>
	<a class="prev btn-control" id="foo2_prev" href="#"></a>
	<a class="next btn-control" id="foo2_next" href="#"></a>
</div>