<!--HEADER ROW-->
<div class="row heading">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <div class="logo">
                    <a ng-click="closeMenus()" href="#!/"><img class="logo" src="styles/img/logo.png"></a>
                </div>
            </div>
            <div class="col-md-9 col-xs-9">
                <div class="falcon-banners"></div>
            </div>
        </div>

    </div>
</div>
<div class="row subheading">
    <div class="container">
        <div class="row ">
            <div class="col-md-3 col-xs-3">
                <div class="phone">
                    <span>{{data.settings.phone}}</span>
                    <span class="toplineseparator"></span>
                </div>
            </div>
            <div class="col-md-9 col-xs-9">
                <div class="slogan">{{data.settings.slogan}}</div>
            </div>
        </div>
    </div>
</div>
<div class="container maincontainer">
    <!--CONTENT ROW-->
    <div class="row">
        <div class="col-md-3 col-xs-3">
            <div class="falcon-articles-menu"></div>
        </div>
        <div class="front-content-container" ng-class="{'col-md-7 col-xs-7':data.settings.ads && data.settings.ads.length,'col-md-9 col-xs-9':!data.settings.ads||!data.settings.ads.length}">
            <!--<div class="falcon-menu"></div>-->
            <div>
                <div class="front-content" ng-view></div>
            </div>
        </div>
        <div class="col-md-2 col-xs-2" ng-if="data.settings.ads && data.settings.ads.length">
            <div class="falcon-ads"></div>
        </div>

    </div>
    <!--FOOTER ROW-->
    <div class="row">
        <div class="footer text-center small text-muted">© 2009–{{getCurrentYear()}}  Сокол Н.В.</div>
    </div>
	<div ui-scrollfix="+500" scroll-to-top class="gotop"><span class="glyphicon glyphicon glyphicon glyphicon-arrow-up arrow"></span></div>
</div>