<div class="col-md-3">{{articleFilter}}
    <div class="input-group">
        <input type="text"
               ui-keydown="{'enter':'newCategory()'}"
               ng-blur="resetCategoryName()"
               placeholder="Новая категория" class="form-control" ng-model="newcategoryname">
		<span class="input-group-btn">
            <button class="btn btn-default" title="Добавить категорию" ng-click="newCategory()"
                    ng-disabled="newcategoryname.length==0"
                    type="button">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </span>
    </div>
    <div ng-if="appdata.articleFilter.length">
        <ul class="article-list nav nav-pills nav-stacked">
            <li ng-repeat="article in data.articles | filter:filterArticles | orderBy:'modified':true" class="article-link pointer" ng-class="{'active':isActive(article.id)}">
                <a title="{{article.name}}" ng-click="editArticle(article)">{{article.name}}</a>
                <span class="close" title="Удалить статью '{{article.name}}'" ng-click="deleteArticle(article)">×</span>
            </li>
        </ul>
    </div>
    <div class="categorylist" ui-sortable="categoriesSortableOpts" ng-if="!appdata.articleFilter.length" ng-model="data.categories">
         <div ng-repeat="category in data.categories" class="articlecategory" >
            <div class="article-block-header"
                 data-parent=".categorylist"
                 falcon-collapse
                 ignore=".dropdown"
                 data-toggle=".article-list">
                <div class="col-md-2 nopadding">
                <div class="dropdown category_icon pull-left">
                    <a class="pointer" data-toggle="dropdown" >
                        <img ng-src="{{category.icon||data.icons[0]}}">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="icon in data.icons"><a ng-click="setIcon(category,icon)"><img ng-src="{{icon}}"></a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-10 nopadding">
                    <span>
                    <h3 class="categoryname" ng-if="editcategory!=category.id">
                        <span ng-show="sortingcategs" class="glyphicon glyphicon-move"></span>
                        {{category.name}}
                    </h3>
                    </span>
                    <span  ng-if="editcategory==category.id" >
                    <input ng-blur="cancelEditCategory()" type="text"class="form-control categorynameinput categorynameinput{{category.id}}"
                           ng-model="category.name"
                           ui-keydown="{'enter':'changeCategoryName(category.id,category.name)','esc':'cancelEditCategory()'}">
                    </span>
                    <div class="category-controls" ng-show="!sortingcategs && editcategory!=category.id">
                         <span class="glyphicon glyphicon-plus-sign pointer"
                               title="Добавить статью в '{{category.name}}' "
                               ng-click="newArticle(category.id)">
                        </span>

                        <span class="glyphicon glyphicon-pencil pointer editcategory"
                              title="Изменить имя категории"
                              ng-click="editCategory(category.id)">
                        </span>

                        <span class="glyphicon glyphicon-trash pointer"
                              title="Удалить категорию '{{category.name}}'"
                              ng-click="deleteCategory(category.id,category.name)"
                              ng-if="!hasArticles(category.id)">
                        </span>
                    </div>
                </div>
            </div>
            <ul class="article-list nav nav-pills nav-stacked collapse" ng-show="!sortingcategs" >
                <li ng-repeat="article in data.articles | filter:{categoryid:category.id}  | orderBy:'modified':true" class="article-link pointer" ng-class="{'active':isActive(article.id)}">
                    <a ng-click="editArticle(article)">{{article.name}}</a>
                    <span class="close" title="Удалить статью '{{article.name}}'" ng-click="deleteArticle(article)">×</span>
                </li>
                <li ng-if="!hasArticles(category.id) && !appdata.articleFilter.length"><span class="label label-default">В категории нет статей</span></li>
            </ul>
        </div>
    </div>
    <div ng-show="data.categories.length==0"><span class="label label-default">Нет категорий</span></div>
</div>
<div class="col-md-9">
    <div class="article-controls form-group">
        <button class="btn btn-warning" ng-click="newArticle()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Новая статья</button>
        <button class="btn btn-danger pull-right" ng-if="article.id" ng-click="deleteArticle(article)"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Удалить статью</button>
    </div>

    <form>
        <div class="form-group">
            <input type="text" placeholder="Название статьи" ng-model="article.name" class="col-md-12 form-control" ng-change="!modified && setModified()">
        </div>

        <div class="form-group">
            <select ng-model="article.categoryid"
                    ng-options="c.id as c.name for c in data.categories"
                    class="form-control"
                    ng-change="!modified && setModified()">
                <option value="" disabled="disabled">Выберите категорию</option>
            </select>
        </div>

        <div class="form-group">
            <textarea ng-model="article.content" ui-tinymce="editorOptions" ng-change="!modified && setModified()"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success" ng-disabled="saving||!modified||!article.name||!article.categoryid" ng-click="saveArticle()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Сохранить</button>
            <div ng-if="error" class="alert alert-danger">{{error}}</div>
        </div>
    </form>
</div>