<div class="menucontainer">
    <div class="category-name portfolio-link"
         data-parent=".menucontainer"
         falcon-collapse
         data-toggle=".article-list"
         ng-class="{'active':isActive(false,true)}">
        <span class="pull-left category-icon">
            <img src="/uploaded/icons/icon_portfolio.png">
        </span>
        <span><a href="#!/portfolio"><h3>Портфолио</h3></a></span>
    </div>
    <div ng-repeat="category in data.categories">
        <div class="category-name clearfix"
             data-parent=".menucontainer"
             falcon-collapse
             data-toggle=".article-list"
             ng-class="{'active':isActiveCategory(category.id)}">

            <span class="pull-left category-icon">
                <img ng-src="{{category.icon.length?category.icon:data.icons[0]}}">
            </span>
            <span><h3 >{{category.name}}</h3></span>

        </div>
        <ul class="article-list nav nav-pills nav-stacked collapse" ng-class="{'in':isActiveCategory(category.id)}">
            <li ng-repeat="article in data.articles | filter:{categoryid:category.id}" class="article-link" ng-class="{'active':isActive(article.id)}">
                <a ng-href="{{'#!/articles/'+article.id}}">{{article.name}}</a>
            </li>
        </ul>
    </div>
</div>
