<div class="col-md-3">
    <div class="input-group">
        <input type="text"
               ui-keydown="{'enter':'newGallery()'}"
               ng-blur="resetGalleryName()"
               placeholder="Новая галлерея" class="form-control" ng-model="newgalleryname">
            <span class="input-group-btn">
                <button class="btn btn-default" title="Новая галлерея" ng-click="newGallery()"
                        ng-disabled="newgalleryname.length==0"
                        type="button">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </span>
    </div>

    <ul class="nav nav-pills nav-stacked portfolio-menu" ui-sortable="gallerySortableOpts" ng-model="data.galleries">
        <li ng-repeat="gallery in data.galleries | orderBy:'priority'" class="gallery-item" ng-class="{'active':openedGallery.id==gallery.id}"  ng-click="openGallery(gallery)">
            <div class="gallery-name" ng-if="editgallery!=gallery.id">
                {{gallery.name}}
            </div>
            <div ng-if="editgallery==gallery.id">
                <input type="text" class="form-control gallerynameinput{{gallery.id}}"
                       ng-model="gallery.name"
                       ng-blur="cancelEditGallery()"
                       ui-keydown="{'enter':'changeGalleryName(gallery.id,gallery.name)','esc':'cancelEditGallery()'}">
            </div>

        <div class="gallery-controls">
            <span class="glyphicon glyphicon-pencil pointer editgallery"
                  ng-hide="editgallery==gallery.id"
                  title="Изменить имя галлереи"
                  ng-click="editGallery(gallery.id)">
            </span>

            <span class="glyphicon glyphicon-trash pointer"
                  title="Удалить галлерею '{{gallery.name}}'"
                  ng-click="deleteGallery(gallery.id,gallery.name)"
                  ng-if="!gallery.images.length">
            </span>
        </div>
        </li>
    </ul>

    <div ng-show="data.galleries.length==0"><span class="label label-default">Нет галлерей</span></div></div>


<div class="col-md-9"  >

	<div class="" ng-if="openedGallery.id">

		<div class="add-image-slide pull-left glyphicon glyphicon-plus-sign" title="Добавить картинку">
			<div class="browse-button clearfix">
				<input ng-file-select="" type="file"  accept="image/jpeg,image/png,image/gif" multiple="true">
			</div>
		</div>

		<div ui-sortable="sortableOpts" ng-model="openedGallery.images">
			<div ng-repeat="image in openedGallery.images" data-imageid="{{image.id}}" class="portfolio-image turnme pull-left">
				<img ng-src="{{image.url}}" class="center-block">
				<i title="Удалить картинку" type="button" class="close" ng-click="deleteImage(image.id,$index)">×</i>
                <span class="save-description" title="Сохранить описание"
                      ng-show="image.edit"
                      ng-click="saveDescription(image)"
                        >
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </span>
                <textarea placeholder="..введите описание.." class="form-control" ng-model="image.description"
                          ui-keydown="{'enter':'saveDescription(image)'}"
                          ng-focus="image.edit=true"
                          ng-blur="image.edit=false"
                        >
                </textarea>
			</div>
		</div>

		<div class="uploadlist" ng-if="uploader.queue.length">
			<div ng-repeat="item in uploader.queue" class="portfolio-image  portfolio-image-dummy pull-left">
				<div class="progress">
					<div class="progress-bar"  ng-style="{ 'width': item.progress + '%' }">
						{{ item.progress }} %
					</div>
				</div>
			</div>
		</div>
	</div>
</div>