<div>
<div class="form-group">
    <button class="btn btn-success" ng-disabled="working" ng-click="save()">
        Сохранить "О нас"
    </button>
</div>
<div class="form-group" >
    <textarea ng-model="data.about" ui-tinymce="editorOptions" ng-change="setModified()">
    </textarea>
</div>
</div>