<div class="falcon-about" ng-if="data.settings.about" ng-bind-html="data.settings.about|unsafe"></div>
<h3 class="portfoliotitle">{{data.settings.portfoliotitle}}</h3>
<div ng-repeat="gallery in data.galleries | orderBy:'priority'" ng-if="gallery.images.length">
    <div class="img-gallery" images="gallery.images" name="{{gallery.name}}"></div>
</div>