<div class="article" ng-show="data.article">
	<h3>{{data.article.name}}</h3>
    <div ng-if="!data.articlesloaded" class="loadingarticle">
        <span class="label label-default"><span class="glyphicon glyphicon-time"></span>&nbsp;Подождите идет загрузка</span></div>
	<div class="article-content" ng-bind-html="data.article.content|unsafe"></div>
</div>