.rounded{

}
html {
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
	overflow-x: hidden;
}
.nopadding{
    padding: 0px !important;
}


img.logo{
   width: 100px;
    margin-top: 5px;
    margin-right: 10px;
}

.loginform_container{
	position: fixed;
	top:40%;
	height: 100px;
	padding: 10px;
}

.adminmenu{
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 10px;
}

.falcon-admin{
	padding: 10px;
    margin-top: 50px;
}

option[disabled]{
    cursor: not-allowed;
    color: #d3d3d3;
}

.separator{
	border-bottom: 1px solid #d3d3d3;
}

.pointer{
	cursor: pointer;
}

.articlecategory .nav-pills > li.active > a, .articlecategory .nav-pills > li.active > a:hover, .articlecategory .nav-pills > li.active > a:focus{
    background-color: #e5ac00;
    border-radius: 0px;
}

.articlecategory .categoryname span{
    font-size: 14px;
}

.article-block-header{
    min-height: 50px;
    padding: 0px 2px;
    background-color: #6e7e7a;
    position: relative;
}

.article-block-header .categorynameinput{
    margin-top: 8px;
    margin-left: 5px;
    width: 95%;
}

.article-block-header .category-controls{
    position: absolute;
    top: 15px;
    right: 0px;
}

.article-block-header:hover{
    background-color: #8a9a96;
}


.article-block-header,ul.article-list{
margin-bottom: 2px;
}
.article-block-header h3{
    margin: 0;
    padding: 5px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 27px;
}
.category_icon ul.dropdown-menu{
    background-color: #6e7e7a;
}
.categorylist{
    margin-top: 15px;
}
.category_icon .dropdown-menu > li > a:hover{
    background-color: #8a9a96;
}
.falcon-articles-menu .category-name a,.falcon-articles-menu .category-name a:hover{
    text-decoration: none;
}

.article-block-header .glyphicon{
    color: #ffffff;
}

.article-block-header h3{
    cursor: pointer;
    font-size: 16px;
}

 ul.article-list li{
    position: relative;
}

 ul.article-list li a{
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
 }
ul.article-list li .close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.portfolio-image{
	position: relative;
    min-height: 150px;
	opacity: 0.8;
    margin: 5px;
    padding: 5px;
    padding-bottom: 15px;
    height: 165px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #f7f7f9;
}

.portfolio-image textarea{
    font-size: 12px;
    margin-top: 5px;
}

.portfolio-image:hover{
	opacity: 1;
}

.portfolio-image img{
    height: 100px;
    border-radius: 5px;
}

.portfolio-image .save-description{
    position: absolute;
    top: 10%;
    left: 35%;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
    font-size: 50px;
    border-radius: 10px;
}
.portfolio-image .save-description:hover{
    opacity: 1;
}
.add-image-slide{
    position: relative;
	cursor: pointer;
	text-align: center;
	font-size: 80px;
	height: 150px;
	width: 133px;
	color: #d3d3d3;
    line-height: 130px;
	opacity: 0.7;
}
.add-image-slide:hover{
	opacity: 1;
}

.browse-button{
    cursor: pointer;
}
.browse-button input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 150px;
	width: 130px;
	direction: ltr;
	cursor: pointer;
}

.portfolio-image .close{
	display: none;
	color:red;
	cursor: pointer;
	position: absolute;
	top:3px;
	right: 3px;
}

.portfolio-image:hover .close{
	display: block;
}

.portfolio-image-dummy{
width: 150px;
}

.uploadlist{
	position: relative;
}

.uploadlist .progress-bar{
	font-size: 10px;
	color: #ffffff;
}



.gallery-item{
    cursor: pointer;
    background-color: #8a9a96;
    color: #ffffff;
    padding: 10px;
    position: relative;
}

.gallery-item .gallery-controls{
    position: absolute;
    top: 10px;
    right: 5px;
}

.gallery-item:hover{
    background-color: #6e7e7a;
}
.gallery-item.active,.gallery-item.active:hover{
    background-color: #e5ac00;
}


.portfolio-menu{
    margin-top: 10px;
}

.falcon-settings .params-col{
    padding-left:30px;
}

.turnme{
    cursor: move;
}
.ui-sortable-helper.turnme{
    -webkit-animation:shake 1s linear infinite;
    -moz-animation:shake 1s linear infinite;
    animation:shake 1s linear infinite;
}

@-webkit-keyframes shake {
    from { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(9.7deg); }
    to { -webkit-transform: rotate(0deg); }
}


@-moz-keyframes shake {
    from { -moz-transform: rotate(0deg); }
    50% { -moz-transform: rotate(9.7deg); }
    to { -moz-transform: rotate(0deg); }
}

@keyframes shake {
    from { -webkit-transform: rotate(0deg);transform: rotate(0deg); }
    50% { -webkit-transform: rotate(9.7deg);transform: rotate(9.7deg); }
    to { -webkit-transform: rotate(0deg);transform: rotate(0deg); }
}



.admin-content-container{
    position: relative;
}

.admin-content.ng-enter,
.admin-content.ng-leave{
	-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.admin-content.ng-leave{
	position: absolute;
	width: 100%;
}

.admin-content.ng-enter{
	opacity: 0;
	margin-left: 150%;
	width: 100%;
}

.admin-content.ng-leave,
.admin-content.ng-enter.ng-enter-active{
	margin-left: 0;
	margin-right: -100%;
	opacity: 1;
}

.admin-content.ng-leave.ng-leave-active{
	margin-left: -100%;
	opacity: 0;
}