/**
COMMON
*/
.falcon-front{
	overflow-x: hidden;
	overflow-y: hidden;
    background-color: #dfdfdf;

}
.falcon-front a{
    outline: none;
}
.maincontainer{
    padding-top: 10px;
}
.front-content-container{
    /*background-color: #dfdfdf;*/
}
div.logo{
    text-align: center;
}
div.logo a{
    outline: none;
}
img.logo{
    width: 100%;
    margin: 0 auto;
}
.gotop.ui-scrollfix {
  position: fixed;
  left: 0px;
  opacity: 0.8;
  bottom: 0px;
  top:0px;
  cursor: pointer;
  width: 50px;
    background-color: #d0d0d0;
}
.gotop .arrow{
    position: absolute;
    font-size: 40px;
    color: #ffffff;
    top:40%;
    right: 7px;
}
.gotop.ui-scrollfix:hover {
  opacity: 1;
}
.gotop {
  opacity: 0;
}
.falcon-menu .ui-scrollfix {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  padding-top: 5px;
  background: white;
}
.footer {
  padding: 10px;
}


/**
BANNER
*/
.banner-top{
    height: 60px;
    width: 468px;
    background: lightblue;
    border: 1px solid #d3d3d3;
}
.falcon-banners{
    text-align: center;
}

.falcon-banner img{

}
.falcon-ads{
    overflow: hidden;
}
.falcon-ads img{
    width: 100%;
}
.falcon-slogan{

}

.front-content-container{
    position: relative;
	overflow: hidden;
}

/*.front-content.ng-enter{*/
    /*-webkit-animation:fadeInDown 0.5s linear;*/
    /*-moz-animation:fadeInDown 0.5s linear;*/
    /*animation:fadeInDown 0.5s linear;*/
/*}*/

/*.front-content.ng-leave{*/
	/*position: absolute;*/
    /*-webkit-animation:fadeOutDown 0.5s linear;*/
    /*-moz-animation:fadeOutDown 0.5s linear;*/
    /*animation:fadeOutDown 0.5s linear;*/
/*}*/

.front-content.ng-enter,
.front-content.ng-leave{
/*-webkit-transition:all 0.5s linear;*/
/*-moz-transition:all 0.5 linear;*/
/*transition:all 0.5 linear;*/
	-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.front-content.ng-leave{
position: absolute;
width: 100%;
}

.front-content.ng-enter{
	opacity: 0;
	margin-left: 150%;
	width: 100%;
}

.front-content.ng-leave,
.front-content.ng-enter.ng-enter-active{
	margin-left: 0;
	margin-right: -100%;
	opacity: 1;
}

.front-content.ng-leave.ng-leave-active{
	margin-left: -100%;
	opacity: 0;
}

.falcon-about{
    color: #737377;
    font-size: 14px;
    text-align: left;
    text-align: left;
    margin-bottom: 10px;
    border-left: 7px solid #6e7e7a;
    padding: 5px 10px 5px 30px;
    background-color: #eaeaea;

}

/*top*/
.row.heading{
    background-color: #6e7e7a;
    padding: 10px 0px;
}

.row.subheading{
    background-color: #3a4342;
    padding: 3px 0px;
}

.subheading .phone{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}
.subheading .slogan{
    color: #ffffff;
    text-align: left;
    border-left: 7px solid #6e7e7a;
    padding-left: 30px;
    line-height: 22px;
}
.subheading .falcon-about{
    color: #ffffff;
    text-align: left;
}

/* ARTICLES */
.falcon-articles-menu{

}
.category-icon{
    width: 50px;
    padding: 4px;
}

.portfoliotitle{
    color: #737377;
}
.category-icon img,.portfolio-link img{
    width: 100%;
}
.falcon-articles-menu .category-name{
    background-color: #6e7e7a;
    cursor: pointer;
    margin-bottom: 2px;
    padding-left: 5px;
}

.falcon-articles-menu .category-name:hover{
    background-color: #8a9a96;
}
.falcon-articles-menu .category-name.portfolio-link{
    margin-bottom: 2px;
}

.falcon-articles-menu .category-name.active,.falcon-articles-menu .category-name.portfolio-link:hover.active{
    background-color: #e5ac00;
}
.falcon-articles-menu .category-name h3{
    margin: 0;
	font-weight: normal;
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
}

.falcon-articles-menu .category-name a,.falcon-articles-menu .category-name a:hover{
   text-decoration: none;
    outline: none;
}



.nav-pills.article-list li a{
    color: #6e7e7a;
    padding: 5px;
    padding-left: 15px;
    border-radius: 0px;
}

.nav-pills.article-list li a:hover{
    background-color: #dfdfdf;
}
ul.article-list{
    margin-bottom: 2px;
}
.nav-pills.article-list li a{
    outline: none;
    -webkit-transition: all 300ms linear;
    transition:         all 300ms linear;
    -moz-transition:    all 300ms linear;
}
.nav-pills.article-list li.active a{
    color: #ffffff;
    background-color: #e5ac00;
    outline: none;
}
.loadingarticle{
    height: 30px;
}
.loadingarticle span.label{
font-size: 16px !important;
}